<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomInst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CustomInst.Properties.Settings>
            <setting name="CustomInstall_LdapServices_LdapAdminService" serializeAs="String">
                <value>http://10.51.21.140:8080/LdapAdminServer/services/LdapAdminService.LdapAdminServiceHttpSoap11Endpoint/</value>
            </setting>
        </CustomInst.Properties.Settings>
    </applicationSettings>
</configuration>